
{
"database":"sdp_db"
,"database_archive":"sdp_archive_db"
,"server":"localhost"
,"username":"suda1","port":"3306"
,"password":"suda1@pwd1"
,"RETRY_HOURS":"1"
,"sudani_payment_timeout":"40000"
,"mtn_provider_id":"P-SQGdH8_G1OW"
,"operator_id_zain":"1"
,"operator_id_sudani":"2"
,"operator_id_mtn":"3"
,"operator_id_ching":"4"
,"operator_log_zain":"zain_processor_log"
,"operator_log_sudani":"sudani_processor_log"
,"operator_log_mtn":"mtn_processor_log"
,"operator_log_ching":"ching_processor_log"
,"sdp_api_url":"http://196.29.166.45:8989/mgway/services/mgapiservices?wsdl"
,"public_ip":"212.0.154.238"
,"push_count_1":"10"
,"push_count_2":"10"
,"push_count_3":"10"
,"push_count_4":"10"
,"push_count_5":"10"
,"reserve_limit":"1000"
,"reserve_queue_limit":"1000"
,"timeout_send":"30000"
,"timeout_connect":"30000"
,"sudani_payment_api":"http://wave.sudatel.sd:10010/DiameterEventCharging/"
,"sudani_payment_username":"Elwisam"
,"sudani_payment_password":"Elwi$@m!vr"
,"cms_db_password":"123321","maxsmssize":"700"
,"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjb21wYW55IjoiYWx3aXNhbSJ9.iFnxvLyjkk-qgp_aUqq3HZs1lH5vwyqTKWsJe9njhW4"
}
